<launch>
  <arg name="port"/>
  
  <node name="drive" pkg="imu_driver" type="driver.py" args="$(arg port)" output="screen" />

  <node name="imu_driver_convert_to_quaternion" pkg="imu_driver" type="imu_driver_convert_to_quaternion.py" output="screen">
    <remap from="~/convert_to_quaternion" to="convert_to_quaternion" />
  </node>
</launch>
